<% items.sort(function(a,b){return new Date(a.deadline) - new Date(b.deadline)}) %>

<% var archiveDate = new Date() %>

<% if (archiveDate.getMonth() < 6) { %>
  <% archiveDate.setFullYear(archiveDate.getFullYear() - 1) %>
  <% archiveDate.setMonth(7) %>
  <% archiveDate.setDate(1) %>
  <% } else { %>
    <% archiveDate.setFullYear(archiveDate.getFullYear()) %>
    <% archiveDate.setMonth(6) %>
    <% archiveDate.setDate(1) %>
<% } %>

<% for (const item of items) { %>  
  <% var itemDate = new Date(item.deadline) %>
  <% itemDate.setHours(25) %>
  <% if (item.active & itemDate >= archiveDate) { %>
  <div class="jobs">
  <h3 id ="sec-<%- item.institution %>-<%- item.type %>-<%- item.deadline %>"><%- item.institution %> (<%- item.type %>)</h3>
  </div>
  <% var deadlineDisplay = itemDate.toLocaleString("en-US", {weekday: "long",
  year: "numeric",
  month: "long",
  day: "numeric"}) %>
  <% var description = String(item.description) %>

  <%= description%>
  <br> 
  🌎  <%= item.location %>

  <span class="button-job"><a href="<%-item.url%>">Full job posting</a></span><i><a href="#sec-all-deadlines">Back to all deadlines</a></i>
  <% } %>
<% } %>