<% items.sort(function(a,b){return new Date(a.deadline) - new Date(b.deadline)}) %>

<% var cutoffDate = new Date() %>
<% var archiveDate = new Date() %>

<% if (archiveDate.getMonth() < 6) { %>
  <% archiveDate.setFullYear(archiveDate.getFullYear() - 1) %>
  <% archiveDate.setMonth(7) %>
  <% archiveDate.setDate(1) %>
  <% } else { %>
    <% archiveDate.setFullYear(archiveDate.getFullYear()) %>
    <% archiveDate.setMonth(6) %>
    <% archiveDate.setDate(1) %>
<% } %>

<table class="styled-table">
    <tr>
      <th>Institution</th>
      <th>Job Type</th>
      <th>Location</th>
      <th>Deadline</th>
    </tr>
    <% for (const item of items) { %>
      <% var itemDate = new Date(item.deadline) %>
      <% itemDate.setHours(25) %>
      <% if (itemDate <= archiveDate | !item.active) { %>
    <tr>
      <td><a href= <%= item.url %>><%= item.institution %></a></td>
      <td><%= item.type %></td>
      <td><%= item.location %></td>
      <td><%= item.deadline %></td>
    </tr>
    <% } %>
    <% } %>
</table>